.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
ul.clearfix li{float:left}
.clearfix{*zoom:1}
*{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
*{box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-icab-box-sizing:border-box;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
@media screen and (max-device-width:960px){
  body{-webkit-text-size-adjust:none}
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{overflow-y:scroll;overflow-x:hidden}
select{border:1px solid #dee1e3;font-size:12px;color:#333;line-height:12px}
ul{list-style:none}ol{list-style:decimal inside}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;cursor:pointer}
a:hover{text-decoration:none}
a:focus{outline:0}
span{color:inherit}
a img{vertical-align:middle}
label[for]{cursor:pointer}

html {
  height: 100%;
  overflow-x: hidden; 
  overflow-y: visible
}
body {
  background: #000;
  overflow:hidden;
  width: 100%; 
  height: 100%; 
  background: url("https://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/51182f91cfa0fd0b3c8754d7ca23e877.png") 0% 0% / 100% 100%; 
  transform: scale(1, 1); 
  transform-origin: left top 0px;
  padding: 0.5vw;
  font-family: "Microsoft Yahei"; 
}


.datavLayout {
  width: 100%;
  height: 100%;
  overflow:hidden;
}
.datavLayout .wraper{
  width: 100%; 
  height: 0.7vw; 
  background-image: url(https://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/8a4accd1623d48c7d77b7d0603dea1f2.png); 
  background-repeat: no-repeat; 
  background-size: 100% 100%;
}
.datavLayout .header{
  width: 100%;
  height: 4vw;
}
.datavLayout .header .head_left{
  width: 25%;
  height: 100%;
  float: left;
}
.datavLayout .header .head_left .info{
  width: 100%; 
  height: 4vw; 
  font-size: 1vw; 
  color: rgb(46, 147, 255); 
  font-weight: normal; 
  font-family: "Microsoft Yahei"; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  display: flex; 
  align-items: center; 

}
.datavLayout .header .head_left .info .icon{
  width: 1.2vw; 
  height: 1.2vw; 
  margin-right: 5px;
  background: url(../images/center.png);
  background-size: 100%; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.datavLayout .header .head_left .info .date{
  width: 1.2vw; 
  height: 1.2vw; 
  line-height: 1.2vw;
  color: #36ffe4;
  margin-right: 5px;
}

.datavLayout .header .head_left .info .date a{
  color: #36ffe4;
}
.datavLayout .header .head_left .info .date a:hover{
  color: #36ff00;
}

.datavLayout .header .head_mid{
  width: 50%; 
  height: 100%; 
  float: left;
}
.datavLayout .header .head_mid .title{
  width: 50vw; 
  height: 3.5vw; 
  line-height:2vw; 
  margin: 0 auto;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: rgb(255, 255, 255); 
  font-weight: lighter; 
  font-family: "Microsoft Yahei", Arial, sans-serif; 
  font-size: 1.7vw; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;

}
.datavLayout .header .head_mid .bt{
  position: absolute;
  top: 3.3vw;
  left: 50%;
  width: 38vw; 
  height: 2.9vw; 
  margin-left: -19vw;
  background-image: url(https://img.alicdn.com/tps/TB1Pg3pPXXXXXcxXpXXXXXXXXXX-1920-1080.gif); 
  background-size: 100%; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.datavLayout .header .head_right{
  width: 25%;
  height: 100%;
  float: left;
}

.datavLayout .header .head_right .times{
  width: 100%; 
  height: 4vw; 
  font-size: 1vw; 
  color: rgb(46, 147, 255); 
  font-weight: normal; 
  font-family: "Microsoft Yahei"; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  display: flex; 
  align-items: center; 

}

.datavLayout .header .head_right .times .icon{
  width: 1.2vw; 
  height: 1.2vw; 
  margin-right: 5px;
  background: url(../images/time.png);
  background-size: 100%; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.datavLayout .header .head_right .times .date{
  width: 1.2vw; 
  height: 1.2vw; 
  line-height: 1.2vw;
  color: #36ffe4;
  margin-right: 5px;
}

.datavLayout .content{
  width: 100%;
  height: 90%;

}

.datavLayout .content .cleft{
  float: left;
  width: 25vw;
  height: 100%;

}
.datavLayout .content .cmid{
  float: left;
  width: 50vw;
  height: 100%;
  
}

.datavLayout .content .cright{
  float: left;
  width: 24vw;
  height: 100%;
}


.datavLayout .content .row25{
  float: left;
  width: 25vw;
  height: 100%;
}

.datavLayout .content .row37{
  float: left;
  width: 37vw;
  height: 100%;
}

.datavLayout .content .row33{
  float: left;
  width: 33vw;
  height: 100%;
}
.datavLayout .content .row50{
  float: left;
  width: 49.5vw;
  height: 100%;
}
.datavLayout .content .row74{
  float: left;
  width: 74vw;
  height: 100%;
}


.datavLayout .bottom{
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #06ebcc;
}

.bfb31{
  float: left;
  width: 100%;
  height: 31%;
  margin: 3% auto;
}

.bfb60{
  float: left;
  width: 60%;
  height: 31%;
  margin: 3% auto;
}

.bfbl57{
  float: left;
  width: 98%;
  height: 47%;
  padding: 3%;
}

.bfbr57{
  float: right;
  width: 98%;
  height: 47%;
  padding: 3%;
}

.vw25{
  width: 25vw;
  height: 31%;
  margin: 3% auto;
}
.vw25_mid{
  width: 23.8vw;
  height: 31%;
  float: left;
  margin-left: 0.8vw;

}
.vw25_right{
  width: 24vw;
  height: 31%;
  margin: 3% auto;
}
.vw50{
  width: 48.4vw;
  height: 63.6%;
  margin: 1.5% auto;
}
.vw50_full{
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
/**
*数据可视化 div四角样式
*/
.rect {
    float: left;
    margin: 0.5vw 0;
    background: linear-gradient(to left, #6cd6d4, #6cd6d4) left top no-repeat, 
                linear-gradient(to bottom, #6cd6d4, #6cd6d4) left top no-repeat, 
                linear-gradient(to left, #6cd6d4, #6cd6d4) right top no-repeat,
                linear-gradient(to bottom, #6cd6d4, #6cd6d4) right top no-repeat, 
                linear-gradient(to left, #6cd6d4, #6cd6d4) left bottom no-repeat,
                linear-gradient(to bottom, #6cd6d4, #6cd6d4) left bottom no-repeat,
                linear-gradient(to left, #6cd6d4, #6cd6d4) right bottom no-repeat,
                linear-gradient(to left, #6cd6d4, #6cd6d4) right bottom no-repeat !important;
    background-size: 2px 10px, 10px 2px, 2px 10px, 10px 2px !important;  
    background-color: #0c142f !important;
}

.box{
  border: 0.5px solid #4b5377;
  border-radius: 5px;
  background: url(../images/boxbg.png) 0% 0% / 100% 100%;
  transform: scale(1, 1); 
  transform-origin: left top 0px;
}

.box .title{
  width: 12vw; 
  height: 1.6vw; 
  font-size: 0.8vw; 
  color: rgb(46, 147, 255); 
  font-weight: normal; 
  font-family: "Microsoft Yahei"; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  display: flex; 
  align-items: center; 

  border-right: 1px solid #36ffe4;
  border-bottom: 1px solid #36ffe4;
  border-bottom-right-radius:10vw;
  background: url(../images/boxtextbg.png) 0% 0% / 100% 100%;
  transform: scale(1, 1); 
  transform-origin: left top 0px;

}
.box .title .icon{
  width: 0.8vw; 
  height: 0.8vw; 
  margin-left: 5px;
  background: url(../images/title_icon.png);
  background-size: 100%; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.box .title .text{
  width: 1.2vw; 
  height: 1vw; 
  line-height: 1vw;
  color: #fff;
  margin-left: 5px;
  font-family: "Microsoft Yahei"; 
}
.box .title .text a{

  color: #fff;

}
.box .title .text a:hover{

  color: #fff;

}

.box .text1{
  float: left;
  width: 150px;
  height: 30px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-bottom-right-radius:10vw;
  background: url(../images/boxtextbg.png) 0% 0% / 100% 100%;
  transform: scale(1, 1); 
  transform-origin: left top 0px;
  text-indent: 25px;
  font-family: "Microsoft Yahei"; 
  font-size: 1vw;
  line-height: 1vw;
  color: #fff;
}


/**平台流量数据*/

.color_1{color: #6cd6d4;}
.color_2{color: #e4ecbb;}
.color_3{color: #7ac898;}
.color_4{color: #e299b4;}
.color_5{color: #36ffe4;}


.ll_box{
  float: left;
  width: 10vw;
  height: 2vw;
  margin: 1.2vw;
}
.ll_box .num{
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2vw;
  font-size: 2vw;
}
.ll_box .text{
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2vw;
  font-size: 1vw;
}

.maptip{
  float: left;
  width: 30%;
  height:100%;
}

.maptip2{
  position: absolute;
  right: 2%;
  top: 4%;
  width: 25%;
  height:90%;
  font-family: "Microsoft Yahei"; 
}

.map_span{
  width: 100%;
  height: 15%;
  padding: 5px;
}

.map_span .txt{
  float: left;
  height: 40%;
  font-size: 1vw;
  line-height: 2vw;
  color: #fff;
}
.map_span .unit{
  float: left;
  height: 40%;
  font-size: 0.8vw;
  line-height: 2vw;
  text-indent: 10px;
  color: #fff;
}

.map_span .map_num{
  float: left;
  width: 100%;
  height: 60%;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #ff0000;
  text-align: center;
}


.total-mn {
    font-size: 1.2vw;
    color: #fff;
    padding-left: 5%;
}
.total-mn .txt{
    font-size: 0.8vw;
}
.total-mn .live-box-font1 {
    color: #f4e925;
}
.total-mn .live-box-font1 span{
    font-size: 1.5vw;
}


.m_box{
  float: left;
  width: 5vw;
  height: 2vw;
  margin: 1.5vw 0.5vw;
}
.m_box .num{
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.8vw;
  font-size: 1.4vw;
}
.m_box .text{
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.5vw;
  font-size: 0.8vw;
}

.sm_box{
  float: left;
  width: 5vw;
  height: 2vw;
  margin: 1.5vw 0.5vw;
}
.sm_box .num{
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.8vw;
  font-size: 1.2vw;
}
.sm_box .text{
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.5vw;
  font-size: 0.6vw;
}


.my_main{
  float:left;
  width: 24vw; 
  height: 10vw;
}
.sub_main{
  float: left;
  width: 100%;
  height: 100%;
}

/****
* 子页面样式开始
*/

.site{
  width: 100%;
  height: 99%;
}

.sub_title{
  float: left;
  left: 56px; 
  width: 15vw; 
  height: 3vw; 
  z-index: 14;
  margin: 15px;
}

.sub_title .text{
  width: 100%; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #6cd6d4; 
  font-weight: normal; 
  font-family: "Microsoft Yahei"; 
  font-size: 1.2vw; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}



.main_l{float: left; width:250px;border-right:1px dotted #eee;}
.main_l .left_nav_title{ width:250px; height:40px; font-size:16px; text-indent:2em; color:#589DEB; font-weight:bold; line-height:40px; }
.main_l .left_title{ width:250px; height:40px; font-size:16px; text-indent:1em; color:#fff; font-weight:bold; line-height:40px; }
.main_r{float: left; width:340px; min-height:300px;}


/*左侧推荐机构*/
.hot_detail{ margin:15px 15px; width:220px; height:180px; border-bottom:1px dotted #eee;}
a:hover .hot_detail{ background-color:#fafafa;}
.hot_detail dd{ float:left; width:220px; text-align: center;}
.hot_detail dd img{ display:block; border-radius:3px; width:220px; height:120px;}
.hot_detail dd{ font-size:12px; line-height:22px; overflow:hidden; color:#999;}
.hot_detail .tit{ font-size:14px; line-height:32px; height:30px;color:#fff;text-align: center;}
.star i{ background:url(../images/sprite.png) no-repeat 0 0; background-size:60px 174px;}
.star,.star i{ float:left; margin:4px 4px 0 40px; width:60px; height:12px; background-position:0 -80px; font:0/0 a;}
.star i{ margin:0; background-position:0 -92px;}
.price{ font-size:15px; font-weight:bold; color:#FF3300; font-family:Verdana, Arial, Helvetica, sans-serif}
.score{ font-size:12px; line-height:22px;}
.hot_detail dd .score{ color:#ee0000; margin-right:3px;}


.text_left{
  text-align: left;
}

.right_content{ width:340px; padding:10px 10px; height:auto; min-height:100px; color:#fff; font-size:15px; line-height:2.0; margin-bottom:20px; overflow-x:hidden; text-align:left;}
.right_content img{ clear:both;width:auto;display:block;margin:0 auto;padding:0;max-width:878px;width:expression(this.width>878 ? "878px":true);}
.right_content h1.content_title{ width:100%; height:60px; font-size:20px; text-align:center; line-height:60px;}
.right_content dl{ width:100%; min-height:40px; line-height:40px; font-size:15px;border-bottom:1px dotted #ddd; color:#fff;}
.right_content dl:last-child{ border:0px;}
.right_content dt{ width:120px; text-align:center; float:left;}
.right_content dd{ float:left; text-align:left;}