*{font-family:"Microsoft Yahei"; font-size:14px;}
body,html{height:100%}
body{background-color:#f0f0f0;font-size:12px;-webkit-font-smoothing:antialiased;}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,iframe,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
article,aside,audio,details,figcaption,figure,footer,header,img,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
fieldset,img{border:0}
address,caption,cite,dfn,em,i,th,var{font-style:normal;font-weight:400}
ol,ul,li{list-style:none}
a{text-decoration:none;color:#666;}
a:hover{text-decoration:none}
textarea{ overflow:auto; }
textarea.input{ width:300px; height:120px; }
.input{ padding:5px 0px; min-height:24px; line-height:24px; border:1px solid #ccc; background:#fff; vertical-align:middle; color:#333; font-size:14px; -moz-border-radius:3px;/*Firefox*/   -webkit-border-radius:3px;/*Safari和Chrome*/   border-radius:3px;/*IE9+*/  }
.input:focus{ background:#F2F7FB; border-color:#7BBFF2;}
.input,textarea{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-webkit-transition:border linear 0.1s,box-shadow linear 0.1s;-moz-transition:border linear 0.1s,box-shadow linear 0.1s;-ms-transition:border linear 0.1s,box-shadow linear 0.1s;-o-transition:border linear 0.1s,box-shadow linear 0.1s;transition:border linear 0.1s,box-shadow linear 0.1s;}
.input:focus,.textarea:focus{border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);outline:0;outline:thin dotted \9;}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.select{ padding:8px 1px; width:100%; text-indent:10px; height:42px; border:1px solid #ccc; background:#fff; vertical-align:middle; color:#333; font-size:14px; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.my-btn{ height:40px; line-height:40px; vertical-align:middle; color:#fff; font-size:16px; cursor:pointer; -moz-border-radius:4px;-webkit-border-radius:4px;;border-radius:4px; border:0px; }
.radius{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.line10{ width:100%; height:10px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.wd100{ width:100%;}
.wd40{ width:40%; margin-left:2.5%;margin-right:2.5%}
.wd30{ width:30%;}
.wd50{ width:50%;}
.left{ float:left;}
.right{ float:right;}
.blue{background:#4990E2;}
.orange{background:#ff6600;}
.bold{ font-weight:bold;}
.read{background:url(../images/read.png) no-repeat 94% center; background-size:16px 30%;}
.block{ width:100%; height:100%; display:inline-block;}
.rel{ position:relative;}
.num{ padding:3px 5px; background-color:#FF6600; font-size:10px; color:#fff; position:absolute; top:38px; right:10%;border-radius:4px;}
.qq{ padding:6px; background-color:#4C92E2; font-size:13px; color:#fff; position:absolute; top:34px; right:14%;border-radius:100%;}
.qq a{ color:#fff;}

/*header*/
.nav-bar{height:42px; width:100%; position:fixed;top:0;left:0;background-color:rgba(73,144,226,.98); text-align:center; z-index:999;}
.pull-left{position:absolute;top:9px;left:10px;background:url(../images/left.png) no-repeat center center; width:13px; height:24px; background-size:13px 24px;}
.nav-title{text-align:center;width:100%;white-space:nowrap;overflow:hidden;display:block;text-overflow:ellipsis;font-size:17px; font-weight:normal;color:#fff; line-height:42px; }
.header-line{ width:100%; height:42px;}

.aui-header{display:block;z-index:999;overflow:hidden;position:fixed;top:0;left:0;right:0;width:100%}
.aui-header-box{background:#4C92E2;height:44px;padding:0 10px}
.aui-header-logo{width:260px;float:left}
.aui-header-logo a{display:block;padding-top:9px}
.aui-header-logo img{width:100%;height:100%;display:block;border:none}
.aui-header-sou{float:right;padding-top:10px}
.aui-header-sou span i{color:#fff;font-size:18px; display:inline-block; width:24px; height:24px; font-weight:600;background:url(../images/user.png) no-repeat center center;background-size:24px;}

.swiperNav{width:100%;background:#fff; border-bottom:1px solid #eee;}
.swiperNav .selected{color:#4C92E2}
.swiperNav .swiper-slide{text-align:center;font-size:14px;height:40px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;cursor:pointer}
.swiperNav .swiper-slide{ font-size:17px;color:#000;}
.swiperNav .swiper-slide a{font-size:17px;color:#000; display:inline-block; height:40px; line-height:40px;}
.swiperNav .selected a{ color:#4C92E2; border-bottom:2px solid #4C92E2;}
.swiperNav .more-nav{ width:30px; height:39px; position:absolute; top:0; right:0; background: rgba(255,255,255,.9); text-align:center; font-size:17px; color:#000;-moz-box-shadow:-1px 0px 2px #eee; -webkit-box-shadow:-1px 0px 2px #eee; box-shadow:-1px 0px 2px #eee; line-height:40px; z-index:999;}
.header-box{ height:84px; width:100%;}

.mym-search{ width:340px; height:36px; margin:6px auto 6px auto; border:1px solid #eee; background-color:#fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.mym-search li{height:36px; float:left; font-size:14px; }
.mym-search li input.search-text{ width:230px; height:36px; display:inline-block; line-height:36px; padding:0px 20px; border:0; background:none; color:#000; font-size:14px; }
.mym-search li input:focus{outline:none;}
.mym-search li .search-btn{ width:70px; height:36px; text-align:center; background-color:#1092DD; color:#fff; line-height:36px; display:inline-block;-webkit-border-radius:0px 20px 20px 0px;-moz-border-radius:0px 20px 20px 0px;border-radius:0px 20px 20px 0px; border:0px;}
.adv-search{ position:absolute; width:375px; height:36px; top:450px; left:40px; line-height:36px; text-align:right;}
.adv-search a{ color:#1BA9B7; font-size:14px;}
.adv-search a:hover{ color:#333;}

.bannerbox .swiper-container {width: 100%; height:auto;} 
.bannerbox .swiper-container img {display:block;width: 100%; height:200px;}
.bannerbox .swiper-container .banner-title{ width:100%; height:30px; position:absolute; bottom:20px; color:#fff; font-size:15px; text-align:center;}

.type-box{ width:100%; height:170px; position: relative;}
.type-box a{ width:30%; height:70px; font-size:15px; float:left; text-align:center; color:#fff; margin:10px 0px 0px 2.5%; display:inline-block; border-radius:4px; }
.type-box a i{ width:100%; height:40px; display:inline-block;background-image:url(../images/fuwu-icon.png); background-repeat:no-repeat; background-size:30px;}
.type-box a.tp01 {background-color:#51B1ED; }
.type-box a.tp02 {background-color:#08B99C; }
.type-box a.tp03 {background-color:#88CDDC;}
.type-box a.tp04 {background-color:#E3DF04;}
.type-box a.tp05 {background-color:#53B2EC;}
.type-box a.tp06 {background-color:#EC721F; }
.type-box a.tp01 i{background-position:center 7px;}
.type-box a.tp02 i{background-position:center -44px;}
.type-box a.tp03 i{background-position:center -95px;}
.type-box a.tp04 i{background-position:center -294px;}
.type-box a.tp05 i{background-position:center -193px;}
.type-box a.tp06 i{background-position:center -294px;}

.list_index { clear:both; padding: 16px 16px 0px 16px; background-color:#fff; overflow: hidden; position: relative;  }
.list_dd { display: block; padding-bottom:16px; overflow: hidden; }
.list_l { width: 27.29%; float: left; }
.list_lt { width: 70%; float: left; margin-left:2.71% }
.list_all{width: 100%; float: left; }
.list_ld dt { font-size: 17px; line-height: 24px; color: #000;}
.list_ld dd { font-size: 14px; color: #666; line-height:20px; margin-top:6px;}
.bor_b { border-bottom: 1px solid #eeeeee; }
.list_l img{ display: block; width: 100%; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.list_r, .list_s { display: block; width:100px; height: 16px; line-height: 16px; text-align: right; font-size: 12px; right: 0px; color: #000; position: absolute; overflow: hidden; }
.list_sg { bottom: 20px; right: 26px; }
.list_r { top: 16px; }


.retrie{position:relative;z-index:102;height:42px;background-color:#fff;border-bottom:1px solid #e8e8e8}
.retrie dt{overflow:hidden}
.retrie dt a{position:relative;float:left;height:42px;line-height:44px;color:#333;font-size:14px;font-size:16px;text-align:left; text-indent:1em;}
.retrie dt a:after{position:absolute;top:46%;left:86%;margin-top:-4px;width:8px;height:8px;border:#666 solid;border-width:1px 1px 0 0;content:' ';-webkit-transform:rotate(135deg)}
.retrie dt .up{color:#007ccf;border-bottom:2px solid #007ccf}
.retrie dt .up:after{margin-top:0;border:#007ccf solid;border-width:1px 1px 0 0;-webkit-transform:rotate(-45deg)}
.retrie dt a:last-child:before{position:absolute;top:10px;left:0;display:block;width:1px;height:30px;background-color:#ebebeb;content:' '}
.retrie dd{position:relative}
.slide{position:absolute;top:0;left:0;z-index:104;display:none;width:100%;overflow-y:auto;background-color:#fff}
.slide li{display:block;height:50px;border-bottom:1px solid #eee}
.slide li a{display:block;padding:0 30px; font-size:15px; height:50px;background-color:transparent;line-height:50px}
.slide li a.selected,.slide li a:hover{background-color:#f6f6f6}
.slide li a.select{background-color:#fff}

/*列表样式*/
.list{ width:100%; height:auto; margin-top:6px;}
.list .list-item{border:1px solid #eee; padding:12px; height:auto; min-height:70px; margin-bottom:6px;background-color:#fff; font-size:14px;}
.list img{max-height:70px;float:left;font-size:0;border-radius:2px; margin-right:10px; max-width:90px; padding-bottom:10px;}
.list .list-item h1{ float:left; color:#333; font-size:16px; margin-bottom:6px; font-weight:normal; width:68%;}
.list .list-item a h1{ color:#333}
.list .list-item a:hover h1{ color:#ff6600}
.list .list-item p{ line-height:26px; color:#666;}
.list .list-item .linkto{ float:right; width:140px; height:60px; font-size:12px; color:#999; text-align:right; line-height:24px; margin-top:20px;}
.list .list-item .linkto a{ width:140px; height:36px; display:inline-block; text-align:center; line-height:36px; background-color:#FF6600; color:#fff; font-size:15px;border-radius:4px; margin-bottom:10px;}
a.qq{ width:100px; height:30px; display:inline-block; text-align:left; text-indent:2.6em; line-height:30px; color:#fff; font-size:14px;border-radius:4px; margin-bottom:10px;background:#56A2CF url(../images/qq.png) no-repeat 10px center;}
.list .list-item .linkto span{ font-size:15px; font-weight:bold; color:#FF6600; margin:0px 6px;}
.list .list-item dl{ float:left; height:22px; line-height:22px; font-size:12px; color:#666; width:68%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.loadtip { display: block;width: 100%;line-height:36px;height:36px; text-align: center;color: #999; background-color:#fff;}

.infomain{ width:92%; padding:20px 4%; text-align:center; color:#666; line-height:24px; background-color:#fff;}
.infomain h1{ font-size:17px; height:36px; line-height:36px; color:#4C92E2;}
.infomain img{ margin:0 auto; max-width:100%;border-radius:3px;}
.infoli{ width:100%; border-bottom:1px solid #eee; background-color:#fff;padding:10px 0px; text-indent:1em; font-size:14px; color:#333;}
.content{ width:90%; padding:20px 5%; text-align:left; line-height:1.8; font-size:15px; background-color:#fff; margin-top:6px; color:#555;}
.content img{ width:100%; margin-bottom:10px;}
.content h1.title{ width:100%; height:40px; font-size:16px; font-weight:normal; color:#000; border-bottom:1px solid #eee; margin-top:-8px; margin-bottom:10px;
background-image:url(../images/admin07.png); background-repeat:no-repeat; background-position:left 5px; background-size:20px; text-indent:1.5em;}
.content .news-title{ width:100%; padding:10px 0px; line-height:22px; font-size:18px; font-weight:bold; text-align:center; color:#000;}
.content .news-tags{ width:100%; height:30px; border-bottom:1px solid #eee; text-align:center; font-size:12px; color:#999; margin-bottom:10px;}
.content .news-tags span{ margin:0px 10px;}

.datalist{ width:100%;}
.datalist li{ width:100%; background-color:#fff; border-bottom:1px solid #eee; height:36px; line-height:36px; font-size:14px; color:333; text-align:left;}
.datalist span{ float:right;}

.my-content{ width:86%; margin:0px auto; background-color:#fff; padding:10px 16px;}
.input-row{ width:100%; height:36px; padding:10px 0px; text-align:center;}
.input-row .my-input{ width:100%; text-indent:10px; height:32px; line-height:32px; font-size:15px;}
.btn-rows{ width:100%; height:46px; text-align:center;}
.btn-rows a{ display:inline-block;}
.check-rows{ width:100%; height:26px; padding:10px 0px; text-align:left; margin:0 auto;}
.check-rows .link-area{ width:76%; color:#999;}
.check-rows a{ float:right;}
.tip-rows{ width:100%; height:20px; padding:10px 0px; text-align:center; color:#999;}
.tip-rows a{ margin-left:10px; margin-right:10px;}
.tip-rows fieldset{border-top:1px solid #eee;}
.tip-rows fieldset legend{ padding:0px 10px; background-color:#fff;}

.my-tabs{ width:86%; height:40px; margin-left:7%; margin-right:7%;}
.my-tabs .tabs{ margin-right:10px; float:left; padding:10px 18px; height:20px; line-height:20px; vertical-align:middle; color:#333; font-size:16px; cursor:pointer; -moz-border-radius:4px 4px 0px 0px;-webkit-border-radius:4px 4px 0px 0px;;border-radius:4px 4px 0px 0px; background-color:#fff;}
.my-tabs .tabfocus{ background-color:#4990E2; color:#fff;}
.my-tabs .tabs a{ font-size:16px;}

/*多项单选*/
.rule-multi-radio{ width:86%; text-align:left; margin-left:7%; margin-right:7%;}
.multi-radio{ display:inline-block; vertical-align:middle; *display:inline;}
.multi-radio:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
.multi-radio .boxwrap{ display:inline-block; vertical-align:middle; *display:inline;}
.multi-radio a{ display:inline-block; text-decoration:none;  margin-right:10px; float:left; padding:8px 18px; height:18px; line-height:18px; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; -moz-border-radius:4px 4px 0px 0px;-webkit-border-radius:4px 4px 0px 0px;;border-radius:4px 4px 0px 0px; background-color:#fff; font-size:15px; }
.multi-radio a:hover{ background:#fff; text-decoration:none; }
.multi-radio a:active{ text-decoration:none; }
.multi-radio a.selected{ background:#4990E2; color:#fff; }

.magic-checkbox,.magic-radio{position:absolute;display:none}
.magic-checkbox[disabled],.magic-radio[disabled]{cursor:not-allowed}
.magic-checkbox+label,.magic-radio+label{position:relative;display:block;padding-left:24px;cursor:pointer;vertical-align:middle}
.magic-checkbox+label:hover:before,.magic-radio+label:hover:before{animation-duration:.4s;animation-fill-mode:both;animation-name:hover-color}
.magic-checkbox+label:before,.magic-radio+label:before{position:absolute;top:0;left:0;display:inline-block;width:16px;height:16px;content:'';border:1px solid silver}
.magic-checkbox+label:after,.magic-radio+label:after{position:absolute;display:none;content:''}
.magic-checkbox[disabled]+label,.magic-radio[disabled]+label{cursor:not-allowed;color:#e4e4e4}
.magic-checkbox[disabled]+label:after,.magic-checkbox[disabled]+label:before,.magic-checkbox[disabled]+label:hover,.magic-radio[disabled]+label:after,.magic-radio[disabled]+label:before,.magic-radio[disabled]+label:hover{cursor:not-allowed}
.magic-checkbox[disabled]+label:hover:before,.magic-radio[disabled]+label:hover:before{border:1px solid #e4e4e4;animation-name:none}
.magic-checkbox[disabled]+label:before,.magic-radio[disabled]+label:before{border-color:#e4e4e4}
.magic-checkbox:checked+label:before,.magic-radio:checked+label:before{animation-name:none}
.magic-checkbox:checked+label:after,.magic-radio:checked+label:after{display:block}
.magic-radio+label:before{border-radius:50%}
.magic-radio+label:after{top:7px;left:7px;width:8px;height:8px;border-radius:50%;background:#3e97eb}
.magic-radio:checked+label:before{border:1px solid #3e97eb}
.magic-radio:checked[disabled]+label:before{border:1px solid #c9e2f9}
.magic-radio:checked[disabled]+label:after{background:#c9e2f9}
.magic-checkbox+label:before{border-radius:3px}
.magic-checkbox+label:after{top:2px;left:6px;box-sizing:border-box;width:6px;height:12px;transform:rotate(45deg);border-width:2px;border-style:solid;border-color:#fff;border-top:0;border-left:0}
.magic-checkbox:checked+label:before{border:#3e97eb;background:#3e97eb; border:1px solid #3e97eb;}
.magic-checkbox:checked[disabled]+label:before{border:#c9e2f9;background:#c9e2f9}


.uploader{position:relative;display:inline-block;overflow:hidden;cursor:default;padding:0;margin:10px 0; width:100%;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.uploader .filename{float:left;display:inline-block;outline:0 none;height:40px;width:180px;margin:0;padding:8px 0px;overflow:hidden;cursor:default;border:1px solid #eee;border-right:0;font:9pt/100% Arial,Helvetica,sans-serif;color:#777;text-shadow:1px 1px 0 #fff;text-overflow:ellipsis;white-space:nowrap;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;border-color:#ccc;-moz-box-shadow:0 0 1px #fff inset;-webkit-box-shadow:0 0 1px #fff inset;box-shadow:0 0 1px #fff inset;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; width:70%; font-size:15px; text-indent:10px;}
.uploader .button{float:left;height:40px;display:inline-block;outline:0 none;padding:8px 0px;margin:0;cursor:pointer;border:1px solid;font:700 9pt/100% Arial,Helvetica,sans-serif;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0; width:30%;}
.uploader input[type=file]{position:absolute;top:0;right:0;bottom:0;border:0;padding:0;margin:0;height:30px;cursor:pointer;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0}
.blue .button{color:#fff;text-shadow:1px 1px 0px #09365f;background:#064884;background:-moz-linear-gradient(top, #3b75b4 0%, #064884 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b75b4), color-stop(100%,#064884));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b75b4', endColorstr='#064884',GradientType=0);border-color:#09365f;}
.blue:hover .button{background:#3b75b4;background:-moz-linear-gradient(top, #064884 0%, #3b75b4 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#064884), color-stop(100%,#3b75b4));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#064884', endColorstr='#3b75b4',GradientType=0);}


.upload{position:relative;display:inline-block;overflow:hidden;cursor:default;padding:0;margin:10px 0; width:96%;}
.upload .button{float:left; width:100%; height:28px;display:inline-block;outline:0 none;padding:8px 0px;margin:0;cursor:pointer;font:700 9pt/100% Arial,Helvetica,sans-serif;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; background-color:#f6f6f6; color:#333;}
.upload input[type=file]{position:absolute;top:0;left:0;bottom:0;border:0;padding:0;margin:0;height:28px;cursor:pointer;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0; width:100%;}

.u-header{width:100%; height:140px; text-align:center; padding-top:30px; position:relative;background:#4C92E2 url(../images/center.jpg) no-repeat center top; background-size:100%;}
.u_avatar{ width:80px; height:80px; text-align:center; margin:0 auto; border:1px solid #fff; -moz-border-radius:100%; -webkit-border-radius:100%;border-radius:100%;}
.u_avatar img{ margin:5px; width:70px; height:70px;-moz-border-radius:100%; background-color:#fff; -webkit-border-radius:100%;border-radius:100%;}
.u_info{ width:100%; height:30px; line-height:30px; margin:0 auto; font-size:14px; color:#fff;}

.infolist {margin-top:5px;}
.infolist li{ width:100%; height:28px; padding:8px 0px; line-height:28px; background-color:#fff;  font-size:15px; color:#333; text-indent:0.5em; text-align:left; border-bottom:1px solid #eee;}
.infolist li a{ font-size:15px; color:#333;}
.infolist li.read{background-size:10px 40%;}
.infolist li.title{ font-size:16px; font-weight:bold;}
.infolist li img{ width:28px; float:left; margin-left:10px;}

.infoinput{ width:100%; height:44px; background-color:#fff;margin:0px auto 0px auto; border-bottom:1px solid #f8f8f8;}
.infoinput dl dt{ display:block; float:left;width:80px; padding-right:10px; text-align:right; font-size:14px; line-height:44px; color:#666; background-image:url(../images/dlline.png); background-repeat:no-repeat; background-position:right center; background-size:1px;}
.infoinput dl dd{ margin-left:100px;  text-align:left;font-size:14px; line-height:44px; color:#666;}
.infoinput dl dd input,.infoinput dl dd select{ width:65%; border:0px; height:44px;border:0px; line-height:44px; background-color:#fff; font-size:15px;}
.infoinput dl dd input:focus,.infoinput dl dd select:focus,.infoinput textarea:focus{outline:none; }
.infotext{ width:100%; height:120px;}
.infoinput textarea{ border:0px; width:65%; height:100px; max-height:100px; padding:10px 0px; font-size:14px; line-height:20px;}

.index-partner{background-color:#fff; width:100%; padding:10px 0px;}
.index-partner .swiper-container img {width: 90%; margin:0px 5%; height:60px;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px;}

.newslist{ width:100%; height:auto; margin:0px auto; clear:both;}
.newslist li{ width:100%; height:42px; line-height:42px; font-size:16px; color:#666; text-align:left;  background-color:#fff; border-bottom:1px solid #eee;}
.newslist li a{ width:80%; height:42px; font-size:16px; color:#333;  overflow: hidden;white-space: nowrap;text-overflow: ellipsis; display:inline-block; text-indent:0.5em;}
.newslist li.read{background-size:10px 40%;}
.newslist li img{ width:20px; float:left; margin-left:10px; margin-top:11px;}

.order-list{ width:100%; height:172px; background-color:#fff; margin-top:10px;}
.order-title{ width:100%; height:40px; border-bottom:1px solid #eee; line-height:40px; font-size:15px; text-indent:2.5em;background-image:url(../images/admin11.png); background-repeat:no-repeat; background-position:10px center; background-size:24px;}
.order-title span.order-state{ float:right; margin-right:20px; color:#FF6600; font-size:13px;}
.order-fuwu{ width:100%; height:70px; padding:10px 0px;}
.order-img{ float:left; width:110px; height:70px; margin-left:20px;}
.order-img img{max-height:70px;float:left;font-size:0;border-radius:2px; margin-right:10px; max-width:90px; padding-bottom:10px;}
.order-fuwu dl{ width:90%; height:23px; line-height:23px; font-size:13px; text-align:left;}
.order-fuwu dl.price{ font-size:16px; color:#FF6600;height:28px; line-height:28px;}
.order-fuwu dl.date{ font-size:12px; color:#999;height:16px; line-height:16px;}
.order-link{ width:100%; height:40px; border-top:1px solid #eee; text-align:right;}
.order-link a{ display:inline-block; padding:4px 12px; font-size:14px; color:#666; border:1px solid #ddd;-moz-border-radius:16px;-webkit-border-radius:16px;border-radius:16px; margin:5px 10px 5px 0px;}

.wrapper-wall{ width:100%; height:auto; clear:both;}
.wall{display:block;position:relative}
.wall-column{display:block;position:relative;width:50%;float:left;padding:0 2%;box-sizing:border-box}
.article{display:block;margin:0 0 8% 0;padding:5%;background:#fff;border-radius:3px;box-shadow:0 1px 2px 0 rgba(0,0,0,.05);transition:all 100;overflow:hidden;position:relative}
.article:hover{transform:scale(1.01)}
.article img{display:block;width:100%;margin:0 0 5% 0}
.article a{color:#666}
.article p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:70%;font-size:1.2em;line-height:1.5}
.article small{font-size:1em;color:red;line-height:1.5}
.article input{width:20%;padding:.6em;border-radius:.4em;font-size:1.1em;z-index:100;background-color:#f60;border:none;position:absolute;bottom:3%;right:5%;color:#fff;box-shadow:0 0 7px #d7d7d7}
.wrapper h3{text-align:center;margin:0 20%;white-space:nowrap;text-overflow:ellipsis;font-weight:400;color:#333;overflow:hidden;font-size:1.5em;padding:.7em 0}
.wrapper h4{width:90%;margin:0 5%;text-align:justify;font-weight:400;color:#999;font-size:1.2em;margin-bottom:3%;line-height:1.5}

.weui-footer{ width:100%; color:#999999; line-height:20px; padding:10px 0px; font-size:14px;  text-align:center;}
.weui-footer a{color:#586C94;}
.weui-footer_fixed-bottom{ position:fixed; bottom:.52em; left:0; right:0;}
.weui-footer-links{font-size:0;}
.weui-footer-link{ display:inline-block; vertical-align:top; margin:0 .62em; position:relative; font-size:14px;}
.weui-footer-text{font-size:12px; color:#aaa;}

.foot-bar{ height:50px; width:100%; position:fixed;bottom:0;left:0; right:0; background-color:#fff; border-top:1px solid #eee;}
.foot-bar ul li{ width:25%; text-align:center; height:40px; padding-top:6px; float:left;}
.foot-bar ul li a img{ width:20px; margin:0 auto;}
.foot-bar ul li a{ width:100%; height:40px; text-align:center; line-height:20px; display:inline-block; font-size:12px; color:#7F879A;}
.footer-line{ width:100%; height:50px;}